.statistics {
  width: 500px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f0f3f4;
}

.title {
  width: 400px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  color: #868f91;
}

.statList {
  width: 400px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.statItem {
  width: 80px;
}

.label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.percentage {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
}
